<section class="bg-active-background py-10">
  <div class="container mx-auto">
    <div class="bg-white p-8 rounded-3xl shadow-md overflow-hidden">
      <!-- Header -->
      <header class="p-4">
        <nav
          class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0"
        >
          <!-- Logo -->
          <div
            class="flex items-center space-x-2 text-xl font-bold text-black text-center md:text-left"
          >
            <img
              src="../../../assets/logo full.png"
              alt="Logo"
              class="w-fit h-10"
            />
          </div>

          <!-- Navigation Links -->
          <ul
            class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6 text-center"
          >
            <li>
              <a href="#features" class="text-black hover:text-hey-blue"
                >Features</a
              >
            </li>
            <li>
              <a href="#contact" class="text-black hover:text-hey-blue"
                >Contact us</a
              >
            </li>
            <li>
              <a
                href="#demo"
                class="bg-hey-yellow text-black px-4 py-2 rounded-lg hover:bg-hey-yellow-dark"
              >
                View Demo
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Hero Section -->
      <div
        class="w-full mt-8 flex flex-col md:flex-row items-center justify-center bg-white"
      >
        <!-- Left Half: Text -->
        <div
          class="w-full md:w-1/2 p-8 text-center md:text-left space-y-6 md:space-y-10"
        >
          <h1 class="text-4xl md:text-6xl font-bold text-black">
            FIND YOUR LOST BELONGING.
          </h1>
          <h1 class="text-4xl md:text-6xl font-bold text-black">
            90% MORE LIKELY.
          </h1>
        </div>

        <!-- Right Half: Image -->
        <div class="w-full md:w-1/2 flex justify-center items-center p-8">
          <img
            src="../../../assets/Smartphone Scanning QR Code.png"
            alt="Smartphone Scanning QR Code"
            class="w-full max-w-xs md:max-w-md rounded-lg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
