<section class="py-10 bg-active-background">
  <div class="container mx-auto space-y-20" id="features">
    <!-- First Card -->
    <!-- <div
      class="bg-white p-8 rounded-3xl shadow-md flex flex-col md:flex-row items-center md:items-stretch space-y-8 md:space-y-0"
    >
      
      <div
        class="w-full md:w-1/2 space-y-8 md:p-10 p-5 flex flex-col justify-center"
      >
        
        <div class="text-center md:text-left">
          <h1 class="text-5xl font-bold mb-6 text-black">
            Save Time and Money
          </h1>
          <p class="text-xl mb-8 text-black">Automated Inventory Management</p>
        </div>
        
        <div class="space-y-8">
          <div class="bg-hey-light-gray p-6 rounded-lg shadow-md">
            <h3 class="text-2xl font-bold mb-4 text-black">AI Revolution</h3>
            <p class="text-black">
              Access procurement securely with Blockchain, ensuring part
              authenticity.
            </p>
          </div>
          <div class="bg-hey-light-gray p-6 rounded-lg shadow-md">
            <h3 class="text-2xl font-bold mb-4 text-black">AI Chatbot JET</h3>
            <p class="text-black">
              Boost sourcing with AI Chatbot JET on popular messaging platforms.
            </p>
          </div>
          <div class="bg-hey-light-gray p-6 rounded-lg shadow-md">
            <h3 class="text-2xl font-bold mb-4 text-black">AI Assistance</h3>
            <p class="text-black">
              Interact efficiently with our system using voice commands.
            </p>
          </div>
        </div>
      </div>

      
      <div class="w-full md:w-1/2 flex justify-center items-center md:p-10 p-5">
        <img
          src="../../../assets/lost_and_found_sticker.png"
          alt="Save Time and Money"
          class="w-full max-w-xs rounded-lg"
        />
      </div>
    </div> -->

    <!-- Second Card -->
    <div
      class="bg-white p-8 rounded-3xl shadow-md flex flex-col md:flex-row items-center md:items-stretch space-y-8 md:space-y-0"
    >
      <!-- Nested Cards (Left Half) -->
      <div
        class="w-full md:w-1/2 space-y-8 md:p-10 p-5 flex flex-col justify-center"
      >
        <!-- Vertically centered -->
        <!-- Title and Description -->
        <div class="text-center md:text-left">
          <h2 class="text-5xl font-bold mb-6 text-black">
            QR Code Powered Stickers
          </h2>
          <p class="text-xl mb-8 text-black">
            Fits on your wallet, car keys, and more.
          </p>
        </div>
        <!-- Nested Cards -->
        <div class="space-y-8">
          <div class="bg-hey-light-gray p-6 rounded-lg shadow-md">
            <h3 class="text-2xl font-bold mb-4 text-black">
              Relevant Notifications
            </h3>
            <p class="text-black">
              Get notified when your item was scanned and when you receive a
              message.
            </p>
          </div>
          <div class="bg-hey-light-gray p-6 rounded-lg shadow-md">
            <h3 class="text-2xl font-bold mb-4 text-black">
              Privacy. Prioritized.
            </h3>
            <p class="text-black">
              Find your items without exposing your phone number.
            </p>
          </div>
        </div>
      </div>

      <!-- Image (Right Half) -->
      <!-- <div class="w-full md:w-1/2 flex justify-center items-center md:p-10 p-5">
        <img
          src="../../../assets/logo.jpg"
          alt="Save Time and Money"
          class="w-full max-w-xs rounded-lg"
        />
      </div> -->
      <!-- Image (Right Half) -->
      <div class="w-full md:w-1/2 flex justify-center items-center md:p-10 p-5">
        <img
          src="../../../assets/lost_and_found_sticker.png"
          alt="Save Time and Money"
          class="w-full max-w-xs rounded-lg"
        />
      </div>
    </div>

    <!-- Third Card -->
    <div
      class="bg-white p-8 rounded-3xl shadow-md flex flex-col md:flex-row items-center md:items-stretch space-y-8 md:space-y-0"
      id="app"
    >
      <!-- Nested Cards (Left Half) -->
      <div
        class="w-full md:w-1/2 space-y-8 md:p-10 p-5 flex flex-col justify-center"
      >
        <!-- Vertically centered -->
        <!-- Title and Description -->
        <div class="text-center md:text-left">
          <h2 class="text-5xl font-bold mb-6 text-black">
            Download the app now.
          </h2>
          <p class="text-xl mb-8 text-black">On App Store and Google Play.</p>
        </div>
        <!-- Nested Cards -->
        <!-- <div class="space-y-8">
          <div class="bg-hey-light-gray p-6 rounded-lg shadow-md">
            <h3 class="text-2xl font-bold mb-4 text-black">
              Relevant Notifications
            </h3>
            <p class="text-black">
              Get notified when your item was scanned and when you receive a
              message.
            </p>
          </div>
          <div class="bg-hey-light-gray p-6 rounded-lg shadow-md">
            <h3 class="text-2xl font-bold mb-4 text-black">
              Privacy. Prioritized.
            </h3>
            <p class="text-black">
              Find your items without exposing your phone number.
            </p>
          </div>
        </div> -->
      </div>

      <!-- Image (Right Half) -->
      <div class="w-full md:w-1/2 flex justify-center items-center md:p-10 p-5">
        <a
          href="https://www.google.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="../../../assets/App Store Logo.svg"
            alt="App Store Logo"
            class="w-full max-w-xs rounded-lg"
          />
        </a>
      </div>
      <div class="w-full md:w-1/2 flex justify-center items-center md:p-10 p-5">
        <a
          href="https://www.google.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="../../../assets/Google_Play-Icon-Logo.wine.svg"
            alt="Google Play Logo"
            class="w-full max-w-xs rounded-lg"
          />
        </a>
      </div>
    </div>
  </div>
</section>
